@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0; 
}

body{
    font-family: "Poppins", sans-serif;
    /* font-weight: 500; */
    background-color: #fff;
}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
    /* border: 1px solid red; */
}

.table {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    /* margin-top: 30px; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.buttonTable {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: flex-end;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    /* margin-top: 30px; */
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.titleRow {
    display: flex;
    flex-direction: row;
    width: 98%;
    /* gap: 40px; */
    height: 40px;
    justify-content: center;
    /* border-bottom: 1px solid rgba(126, 126, 126, 0.24); */
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;
    /* margin-top: 30px; */
}

.infoRow {
    display: flex;
    flex-direction: row;
    width: 98%;
    /* gap: 40px; */
    height: 40px;
    justify-content: center;
    border-top: 1px solid rgba(126, 126, 126, 0.25);
    padding-left: 10px;
    margin-left: 30px;
    margin-right: 30px;
    padding-right: 10px;
    padding-top: 7px;
}

.col {
    height: 30px;
    padding: 3px 5px;
    line-height: 20px;
    display: flex;
    /* border: 1px solid black; */
}

.id {
    flex: 9.5%
}

.dateCrea {
    flex: 14.5%;
}

.etat {
    flex: 14%;
    justify-content: center;
}

.nom {
    flex: 9.5%;
}

.prenom {
    flex: 12%;
}

.nomUti {
    flex: 14.5%;
}

.matricule {
    flex: 18%;
}

.action {
    flex: 8%;
    /* align-items: flex-end; */
    justify-content: flex-end;
    margin-right: 4px;
}

.action svg {
    fill: hsl(0, 0%, 34%);
    cursor: pointer;
    transition: 0.5s;
}

.action svg:hover {
    fill: hsl(0, 0%, 50%);
}

.col h5 {
    font-weight: 600;
}

.col p {
    font-weight: 300;
    font-size: 12px;
}

.etatLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    padding: 5px 5px;
    font-size: 8px;
    color: #fff;
    width: 70%;
}

.valide {
  background-color: #5BE881;
}
.rejected {
  background-color: #FF0000;
}
.on-validation {
  background-color: #FDB64D;
}

.addButton {
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(39, 100%, 52%);
  color: rgb(108, 101, 87);
  transition: 0.5s;
  border-radius: 8px;
  margin-left: 10px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  margin-right: 13px;
  font-size: 15px;
  font-weight: 500;
}

.align-right {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.save-button {
  width: 220px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(39, 100%, 52%);
  color: rgb(108, 101, 87);
  transition: 0.5s;
  border-radius: 8px;
  margin-left: 10px;
  outline: none;
  border-color: transparent;
  cursor: pointer;
  margin-right: 13px;
  font-size: 15px;
  font-weight: 500;
  margin-right: 3%;
}

.save-button:hover {
    background-color: hsl(39, 100%, 62%);
}

.addButton:hover {
    background-color: hsl(39, 100%, 62%);
}

.alignLeft {
    align-items: flex-end;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  transform-origin: center;
  transition: 0.5s;
}

.active-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.modal-card {
  position: relative;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: .5rem;
  width: 1100px;
  display: flex;
  flex-direction: column;
}

.modal-card h2{
    margin-bottom: 15px;
}


.add-input {
    border-radius: 4px;
    width: 300px;
    height: 35px;
    margin-bottom: 4px;
    background-color: #fff;
    border: 1px solid #ced4da;
    font-size: 16px;
    padding: 10px 16px 10px 12px;
    transition: 0.5s;
    outline: none;
}

.add-input:focus {
    border-radius: 6px;
    box-shadow: 0 0 0 0.2rem rgba(255, 187, 61, 0.25);
    border-color: #ffcc80;
}


.row-three {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100%;
    gap: 40px;
    align-items: center;
    justify-content: space-between;
    /* border: 1px solid black; */
}

.row-two {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 66%;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.row-one {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-bottom: 15px;
    width: 33%;
    align-items: center;
    gap: 40px;
}

.name-input {
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}

.name-label {
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 4px;
}


.header-close {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-close svg {
    margin-right: 2%;
    cursor: pointer;
}


@keyframes AhmedAnimation {
 0% {
    margin-top: 0;
     padding-left: 10%;
 }
 50% {
     margin-top: 40px;
     padding-left: 90%;
 }
 100%{
    margin-top: 0;
     padding-left: 10%;
 }
}

